*{
    padding: 0;
    margin: 0;
}

@font-face
{
    font-family: newfont;
    src:url(GILSANUB.TTF);
}

@font-face
{
    font-family: newfont2;
    src:url(SHOWG.TTF);
}

header
{
    height: 130px;
    background-color: aliceblue;
}

header img
{
    margin-left: 10px;
}

body
{
    background-color: rgba(199, 5, 47, 0.925);
}

nav
{
    background-color: black;
}

nav ul .gnr
{
    background-color: white;
    display: inline-block;
    border: 2px black ridge;
    margin-bottom: 10px;
}

nav ul .side
{
    margin-left: 10px;
    margin-bottom: 10px;
    background-color: white;
    border: 2px black ridge;
    float: right;
    position: relative;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-right: 10px;
    padding: 3px 3px;
}

nav ul .gnr .tp
{   
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

nav ul .gnr ul li a
{
    padding: 3px 3px;
    text-decoration: none;
    list-style: none;
    color:black;
}

nav ul .gnr ul
{
    text-decoration: none;
    list-style: none;
}

nav ul .gnr ul li
{
    display: none;
}

nav ul .gnr:hover
{
    position: fixed;
    background-color: bisque;
}

nav ul .gnr:hover ul li
{
    display: block;
    border: 1px black solid;
}

nav ul .gnr ul li:hover
{
    background-color: white;
}

div h2
{
    text-align: center;
    margin-top: 20px;
}

div a .fu
{
    
    padding: 40px;
    margin: 20px;
    margin-top: 10px;
    margin-left: 160px;
    height: 130px;
    width: 130px;
}